:root {
  --ruler: 16px;
  --color-red: #ae1100;
  --color-bg: #ebecf0;
  --color-shadow: #babecc;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  line-height: 1.5;
  color: var(--color-shadow);
  text-shadow: 1px 1px 1px var(--color-white);
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #a0a0a0;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--color-red);
}

button,
input {
  border: 0;
  outline: 0;
  font-size: var(--ruler);
  border-radius: var(--ruler);
  padding: var(--ruler);
  background-color: var(--color-bg);
  text-shadow: 1px 1px 0 var(--color-white);
}

input {
  box-shadow: inset 2px 2px 5px var(--color-shadow), inset -5px -5px 10px var(--color-white);
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

input:focus {
  box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
}

button {
  color: #a0a0a0;
  font-weight: bold;
  box-shadow: -5px -5px 20px var(--color-white), 5px 5px 20px var(--color-shadow);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-shadow);
}

button:active,
button:disabled {
  box-shadow: inset 1px 1px 2px var(--color-white), inset -1px -1px 2px var(--color-shadow);
}
