.container {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}
.timer-button {
  display: block;
  margin: 0 auto var(--ruler) auto;
}

.timer-input {
  margin-right: 0;
  margin-bottom: var(--ruler);
}

.field {
  display: inline-block;
  padding: var(--ruler);
  font-size: var(--ruler);
  text-transform: uppercase;
}

.value {
  display: block;
  font-size: calc(var(--ruler) * 3);
}

.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
}

.form-button {
  width: 160px;
  margin: 0 auto;
}

.form-label {
  margin-bottom: var(--ruler);
}

.form-input {
  margin-left: 50px;
}
